body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    width: 25%;
    height: 800px;
    border-radius: 25px;
    background-color: rgb(37, 106, 255);
    position: relative;
}

p {
    width: 100%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

ul {
    display: inline-block;
    width: 100%;
    text-align: left;
    justify-content: flex-end;
}

 ul > li, li > a > i {
    width: 100%;
    padding-left: 2em;
}

li {
    padding: 1em 0 0 0;
}

i {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover i, .nav-link:focus i {
    color: black;
    transition: 0.5s;
}

li > a:hover, li > a:focus {
    transition: 0.5s;
    background-color: white;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 10px 0 white;
} 


.elements {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: absolute;
    right: 0;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 69%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 16%;
}

.align {
    display: flex;
}

.navbar-img {
    width: 30%;
    border-radius: 50%;
    margin: 0 auto;
}

.bottom-line{
    border: 2px solid white;
    border-radius: 100%;
    width: 70%;
    margin: 0 auto;
    opacity: 0.2;
    position: absolute;
    bottom: 42px;
    left: 16%;
}

.name-row {
    background-color: rgba(71, 182, 242, 0.445);
    border-radius: 20px;
    margin: 20px auto;
    width: 60%;
}

.person-name {
    color: white;
    opacity: 1;
    margin: 0 auto;
    text-align: center;
}

.list {
    width: 100%;
    height: 50%;
    top: 0;
    
}
